@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light.ttf') format('truetype'),
         url('../fonts/proximanova-light.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-reg';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg.woff') format('woff'),
         url('../fonts/proximanova-reg.ttf') format('truetype'),
         url('../fonts/proximanova-reg.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-sbold';
    src: url('../fonts/proximanova-sbold.eot');
    src: url('../fonts/proximanova-sbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-sbold.woff') format('woff'),
         url('../fonts/proximanova-sbold.ttf') format('truetype'),
         url('../fonts/proximanova-sbold.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'maven_pro_light100';
    src: url('../fonts/mavenpro-light-100.eot');
    src: url('../fonts/mavenpro-light-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mavenpro-light-100.woff') format('woff'),
         url('../fonts/mavenpro-light-100.ttf') format('truetype'),
         url('../fonts/mavenpro-light-100.svg#maven_pro_light100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maven_pro_light200';
    src: url('../fonts/mavenpro-light-200.eot');
    src: url('../fonts/mavenpro-light-200.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mavenpro-light-200.woff') format('woff'),
         url('../fonts/mavenpro-light-200.ttf') format('truetype'),
         url('../fonts/mavenpro-light-200.svg#maven_pro_light200') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maven_pro_light300';
    src: url('../fonts/mavenpro-light-300.eot');
    src: url('../fonts/mavenpro-light-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mavenpro-light-300.woff') format('woff'),
         url('../fonts/mavenpro-light-300.ttf') format('truetype'),
         url('../fonts/mavenpro-light-300.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    
}



.row.slide {
    padding: 60px 0px;
}

    .row.slide h2 {
        font-family: 'maven_pro_light300', Arial, Verdana;
        font-weight: bold;
        font-size: 22px;
        color: #0b0b0b;
        margin-bottom: 30px;
    }

    .row.slide h2.yellow {
        font-family: 'maven_pro_light300', Arial, Verdana;
        font-weight: bold;
        font-size: 24px;
        color: #f9c70e;
        margin-bottom: 30px;
    }

    .row.slide h3 {
        font-family: 'proximanova-reg', Arial, Verdana;
        font-weight: bold;
        font-size: 18px;
        color:  #424242;
        margin-bottom: 50px;
    }

    .row.slide p {
        font-family: 'proximanova-reg', Arial, Verdana;
        font-weight: 300;
        font-size: 16px;
        color:  #8d8d8d;
    }

        .row.slide p > a {
            font-family: 'maven_pro_light300', Arial, Verdana;
            font-weight: bold;
            font-size: 15px;
            color:  #f9c60e;
        }

        .row.slide p > a + span {
            font-family: 'maven_pro_light300', Arial, Verdana;
            font-weight: bold;
            font-size: 15px;
            color:  #f9c60e;
        }
 
    .row.slide img[alt='Icon'] {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }

.no-bottom {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.extra-bottom-padding {
    padding-bottom: 40px;
}

.fixed-height {
    height: 340px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.align-image-bottom {
    position: absolute;
    bottom: 0px;
}

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

	.menu .columns.menu {
		padding-top: 20px;
	}

		.menu .columns.menu a.menu {
			font-family: 'maven_pro_light300', Arial, Verdana;
			font-size: 18px;    
			font-weight: bold;
			color: #4d4d4d;
			padding-right: 40px;
		}
		
			.menu .columns.menu a.menu:hover {
				color: #f9c70e;
			}
.submenu {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	 border-top-left-radius: 10px;
	 border-bottom-right-radius: 10px;
	 background-color: #f9c70e;
	 margin: 10px 10px;
}

	.submenu > .row {
		padding-top: 20px;
	}
	
		.submenu .row .row .columns {
			padding-top: 15px;
			padding-bottom: 15px;
		}
			
			.submenu .row .row .columns:first-child{
				border-right: solid 1px #fbe285;
			}

	.submenu a {
		font-family: 'maven_pro_light300', Arial, Verdana;
		font-size: 16px;    
		font-weight: bold;
		color: #fff;
		margin: 10px 10px;
	}			
			
.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    height: 700px;   
    margin-bottom: 80px;
}

    .hero h1 {
        padding-top: 500px;
        font-family: 'maven_pro_light300', Arial, Verdana;
        font-size: 45px;      
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
	
.hero_candidato {
    background-image: url(../img/hero-candidato.png) !important;
	margin-bottom: 0px !important;
}

.hero_inner {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    height: 480px;   
    margin-bottom: 20px;
}

    .hero_inner h1 {
        padding-top: 320px;
        font-family: 'maven_pro_light300', Arial, Verdana;
        font-size: 45px;      
        font-weight: bold;
        color: #fff;
        text-align: left;
    }


.candidato_search {
	border-bottom: solid 3px #e2e3e5;
}

	.candidato_search .inline-list {
		margin-bottom: 0px;
	}
	
		.candidato_search .inline-list li > a {
			font-family: 'proximanova-reg', Arial, Verdana;
			font-size: 16px;
			font-weight: 400;
			margin-right: 40px;
			color: #000;
			padding: 10px 0px;
		}
		
			.candidato_search .inline-list li > a.active {
				border-bottom: solid 3px #f9c60e;
			}
	

.earth {
     background-image: url(../img/hero-earth.png);
}

a.yellow {
	font-family: 'proximanova-reg', Arial, Verdana;
	font-size: 16px;
	color: #f9c60e;
}

.yellow-bg {
    background-color: #f9c60e;    
}

    .yellow-bg .row.slide h2 {
        color: #fff;    
    }

    .yellow-bg .row.slide p {
        color: #000;    
    }
	
	
.gray-bg2 {
	background-color: #f1f2f4
}

	.gray-bg2 form {
		margin-top: 20px;
		margin-bottom: 0px;
	}

		.gray-bg2 form input[type='text'] {
			 font-family: 'proximanova-reg', Arial, Verdana;
			 font-size: 16px;
			 color: #858a95;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			 border-radius: 5px;
			 background-color: #e6e8eb;
			 box-shadow: none;
			 transition: none;
			 border: none;
		}

.gray-bg {
    background-color: #efefef;
    padding: 40px 0px;
}

    .gray-bg .row.slide a.button {
        -webkit-border-radius: 25px;
         border-radius: 25px; 
         background-color: #f9c60e; 
         font-family: 'maven_pro_light300', Arial, Verdana;
         font-weight: 300;
         font-size: 18px; 
         color:  #fff;   
    }

    .gray-bg form {
        -webkit-border-radius: 25px;
         border-radius: 25px;     
         background-color: #f9c60e;   
         padding: 10px;
         margin-bottom: 0px;
    }

    .gray-bg form input[type='text'] {
         font-family: 'maven_pro_light300', Arial, Verdana;
         font-weight: 300;
         font-size: 18px;       
        -webkit-animation: none;
         transition: none;
         border: none;
         box-shadow: none;
         margin-bottom: 0px;         
         background: #f9c60e;
         color:  #fff;
    }

    .gray-bg form button[type='submit'] { 
         background-color: #f9c60e;   
         padding: 0px;
         margin-bottom: 0px;
         padding: 0.5rem;
    }

.gray_inner-bg {
    background-color: #ededeb;
}

    .gray_inner-bg .row.slide {
        padding: 40px 0px;
    }
	
.vaga, .vaga_detail {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	 border-top-left-radius: 10px;
	 border-bottom-right-radius: 10px;
	 background-color: #fff;
	 border: solid 10px #f1f2f4;
	 border-top: solid 20px #f1f2f4;
	 border-bottom: solid 20px #f1f2f4;	 
}

	.vaga p.new {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 16px;
		color: #f9c60e;
		padding-top: 20px;
	}

	.vaga h3 {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 23px;
		color: #000;
		padding-top: 63px;
	}
	
		.vaga p.new + h3 {
			padding-top: 0px;
		}

	.vaga p, .vaga_detail p {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 16px;
		color: #a4a4a4;
	}

	.vaga a.button, a.button.pagging {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		 border-radius: 10px;
		 background-color: #b9bdc5;
		 font-family: 'proximanova-reg', Arial, Verdana;
		 font-size: 16px;
		 color: #fff;
		 padding: 15px 35px;
	}
	
	a.button.pagging {
		margin-top: 60px;
		background-color: #858a95;
	}
	
.slide.yellow-bg.nopad {
	border-bottom: solid 20px #f1f2f4;	 
}
		
	.slide.yellow-bg.nopad p {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 18px;
		color: #fff;
		padding-left: 40px;
		padding-top: 10px;
	}
	
	.slide.yellow-bg.nopad a.button {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		 border-radius: 5px;
		 font-family: 'proximanova-reg', Arial, Verdana;
		 font-size: 18px;
		 color: #000;
		 background-color: #fff;
	}
	
.vaga_detail {
	padding: 40px 40px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

	.vaga_detail h3 {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 33px;
		color: #000;
		text-transform: uppercase;
	}
	
	.vaga_detail h3 + p > b {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 14px;
		color: #000;
		text-transform: uppercase;
	}

	.vaga_detail h4 {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-size: 16px;
		color: #000;
		text-transform: uppercase;
	}
	
	a.button.back {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		 border-radius: 5px;
		 background-color: #3e3b3b;
		 font-family: 'proximanova-reg', Arial, Verdana;
		 font-size: 16px;
		 color: #fff;
		 margin-top: 40px;
	}

.red-box {
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 25px;
     border-top-left-radius: 25px;
     border-bottom-right-radius: 25px;
     background-color: #8e191f;
     height: 140px;
     margin-top: 30px;
     margin-left: 30px;
     padding: 30px 50px;
}

.red-box p {
    font-family: 'proximanova-reg', Arial, Verdana;
    font-size: 18px;
    font-weight: bold;
    color:  #fff !important;
}

.form_ticket {
	margin-top: 30px;
}

	.form_ticket .error {
		margin-bottom: 15px;
	}

	.form_ticket a {
		 font-family: 'maven_pro_light300', Arial, Verdana;
		 font-weight: 300;
		 font-size: 15px; 
		 color: #b4b0b0 !important;
	}

	.form_ticket input[type='text'], .form_ticket input[type='password'], .form_ticket textarea {
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomleft: 10px;
		 border-top-right-radius: 10px;
		 border-bottom-left-radius: 10px;
		 transition: none;
		 box-shadow: none;
	}
	
	.form_ticket input[type='text']:hover, .form_ticket input[type='password']:hover, .form_ticket textarea:hover {
		border: solid 1px #f9c60e;
	}
	
	.form_ticket button[type='submit'] {
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomleft: 10px;
		 border-top-right-radius: 10px;
		 border-bottom-left-radius: 10px;
		 font-family: 'maven_pro_light300', Arial, Verdana;
		 font-weight: 300;
		 font-size: 18px;  	
		 background-color: #f9c70e;	
		 padding: 10px 60px;		 
	}
	
.arrow1 {
	background-image: url(../img/arrow_down.png);
	background-repeat: no-repeat;
	background-position: left 160px bottom;
	padding-bottom: 18px;
	margin-bottom: 80px !important;
}

.arrow2 {
	background-image: url(../img/arrow_down.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 18px;
	margin-bottom: 80px !important;
}

.arrow3 {
	background-image: url(../img/arrow_down.png);
	background-repeat: no-repeat;
	background-position: right 160px bottom;
	padding-bottom: 18px;
	margin-bottom: 80px !important;
}

.callus {
	background-image: url(../img/faleconosco-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 94%;
	background-position: center 15px;
}

	.callus .large-block-grid-3 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.callus p {
		font-family: 'proximanova-reg', Arial, Verdana;
		font-weight: bold;
		font-size: 17px !important;
		color: #353434 !important;
	}

.infograghic {
    padding-top: 40px;
}

    .infograghic .columns:not(:first-child):not(:last-child) { 
        padding-left: 25px;
    }

    .infograghic img {
        float: left;
        margin-right: 10px;
    }

    .infograghic p {
        font-family: 'proximanova-light', Arial, Verdana;        
        font-size: 24px;
        color: #000 !important;
        line-height: 100%;
    }

        .infograghic p > small {
            font-family: 'proximanova-light', Arial, Verdana;
            font-size: 14px;
        }

.subfooter {
    padding-top: 40px;
    padding-bottom: 15px;
}

    .subfooter img.social {
        padding-left: 5px;
    }

    .subfooter .sub-nav {
        padding: 0px;
        margin: 0px;
    }

        .subfooter .sub-nav dd {
            padding: 0px;
            margin: 0px;
        }

            .subfooter .sub-nav dd > a {
                font-family: 'proximanova-reg', Arial, Verdana;
                font-size: 15px;
                color: #747474;
                padding-left: 0px !important;
                padding-right: 20px !important;
            }

.footer {    
    
}

    .footer .row.slide {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: solid 1px #eaeaea;   
    }

    .footer .sub-nav {
            padding: 0px;
            margin: 0px;
        }

            .footer .sub-nav dd {
                padding: 0px;
                margin: 0px;
            }

                .footer .sub-nav dd > a {
                    font-family: 'proximanova-reg', Arial, Verdana;
                    font-size: 14px;
                    color: #9d9d9d;
                    padding-left: 0px !important;
                    padding-right: 20px !important;
                }

    .footer p.copy {
        font-family: 'proximanova-reg', Arial, Verdana !important;
        font-size: 14px !important;
        color: #9d9d9d !important;
    }

::-webkit-input-placeholder {
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 18px;    
    color: #fff;  
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 18px;    
    color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 18px;    
    color: #fff;  
}

:-ms-input-placeholder {  
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 18px;    
    color: #fff;  
}

.form_ticket input::-webkit-input-placeholder, .form_ticket textarea::-webkit-input-placeholder {
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 700;
    font-size: 14px;    
    color: #353434;  
}

.form_ticket input:-moz-placeholder, .form_ticket textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 700;
    font-size: 14px;    
    color: #353434;  
}

.form_ticket input::-moz-placeholder, .form_ticket textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 700;
    font-size: 14px;    
    color: #353434;  
}

.gray-bg2 input::-webkit-input-placeholder, .gray-bg2 textarea::-webkit-input-placeholder {
    font-family: 'proximanova-reg', Arial, Verdana;
    font-size: 16px;    
    color: #858a95;  
}

.gray-bg2 input:-moz-placeholder, .gray-bg2 textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'proximanova-reg', Arial, Verdana;
    font-size: 16px;    
    color: #858a95;  
}

.gray-bg2 input::-moz-placeholder, .gray-bg2 textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'proximanova-reg', Arial, Verdana;
    font-size: 16px;    
    color: #858a95;  
}

.gray-bg2 input:-ms-input-placeholder, .gray-bg2 textarea:-ms-input-placeholder {  
    font-family: 'proximanova-reg', Arial, Verdana;
    font-size: 16px;    
    color: #858a95;  
}

.top-bar, .top-bar-section, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button), 
    .top-bar.expanded .title-area, .top-bar-section ul li:hover:not(.has-form) > a {
    background: none;
    color: #000;
}

.top-bar .toggle-topbar.menu-icon a {
    color: #000;
}

    .top-bar .toggle-topbar.menu-icon a::after {
        box-shadow: 0 10px 0 1px #000,0 16px 0 1px #000,0 22px 0 1px #000
    }

.top-bar-section .dropdown li.title h5 a {
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 15px;     
    color:  #000;
}

.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
    background: #f9c60e;
    color: #000;
}

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background: none;
        color: #000;
    }

.top-bar-section .dropdown li:not(.has-form) > a:not(.button) {
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 15px;      
    background: #fff;
    color: #000;
}

.top-bar-section .has-dropdown > a:after {
   border-color: transparent transparent transparent;
}

.top-bar {
    margin-top: 20px;
}

.top-bar-section > ul > li:not(.has-form) > a:not(.button) {
    font-family: 'maven_pro_light300', Arial, Verdana;
    font-weight: 300;
    font-size: 17px;           
}

@media only screen and (min-width: 64.063em) {
    .large-collapse, .large-collapse .columns {
        padding: 0px;
    }
    
} 

@media only screen and (max-width: 40em) {
    .fixed-height {
        height: initial;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .align-image-bottom {
        position: relative;
        bottom: 0px;
    }    

    .yellow-bg {
        margin-top: 20px;
    }

    .red-box {
         margin-left: 0px;
    }

    .footer p.copy {
        padding-top: 10px;    
    }

    .row.slide {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hide-small {
        display: none;
    }
}